body {
    font-family: "Madimi One", sans-serif;
    background-color: white;
    
    
}
h1 {
    color: purple
  
  

}
.madimi-one-regular {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  header{
    background-image: linear-gradient(rgba(245, 238, 238, 0.3), rgba(247, 242, 242, 0.3)),
    url("images/meme-platter-landscape.jpg");
    background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  
  background-position: right;
  
  padding: 200px 0;
  
  }
  header h1 {
    font-size: 50px;
    text-align: left;
    margin-top: 0;
    
  }
  header h2 {
    
    text-align: left;
    inline-size: 500px;
    overflow-wrap: break-word;
  }